@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

a {
   text-decoration: none;
}

body{
   background-color: #f1f1f1;
}

.container{
   max-width: 1140px;
   margin: auto;
}

section{
   padding: 40px;
}

h2 {
   text-align: center;
   font-size: 2.1rem;
   margin-bottom: 40px;
}

h3 {
   background-color: #F5A472;
   border-radius: 18px;
   width: 300px;
   text-align: center;
   padding: 4px 0px;
   font-size: 1.6rem;
   margin: auto;
   margin-bottom: 30px;
}

input {
   border-radius: 18px;
   height: 35px;
   line-height: 35px;
   padding: 0px 15px;
   width: 100%;
   max-width: 400px;
   border: none;
   box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.178);
}

li {
   list-style-type: none;
}

.txt-center {
   text-align: center;
}

.assinaturas {
   background: #F5A472;
   background: linear-gradient(180deg, #F5A472 50%, #1d1d1b 50%);
}

.assinaturas h2 .detalhe-assinaturas {
   color: #C14D13;
}

.assinaturas .box-assinaturas {
   color: white;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
   grid-gap: 20px;
}

.assinaturas .img-assinaturas {
   max-width: 130px;
   border-radius: 50%;
   margin-bottom: 15px;
}

.card-assinaturas {
   padding: 20px 10px 0px 10px;
   border-radius: 18px;
}

.ass-junior .card-assinaturas {
   background-color: #EDEDED;
   box-shadow: 8px 8px #b2b2b2;
   color: black;
}

.ass-pleno .card-assinaturas {
   background-color: #C14D13;
   box-shadow: 8px 8px #7F2A00;
}

.ass-senior .card-assinaturas {
   background-color: #936037;
   box-shadow: 8px 8px #432918;
}

.ass-junior .titulo-card-assinaturas {
   background-color: #b2b2b2;
}

.ass-pleno .titulo-card-assinaturas {
   background-color: #7F2A00;
}

.ass-senior .titulo-card-assinaturas {
   background-color: #432918;
}

.ass-junior, .ass-pleno, .ass-senior {
   width: 100%;
   max-width: 300px;
   text-align: center;
}

.titulo-card-assinaturas {
   font-weight: bold;
   font-size: 1.2rem;
   border-radius: 18px;
   height: 35px;
   line-height: 35px;
   color: white;
   margin-bottom: 20px;
}

.card-up{
   position: relative;
   bottom: 35px;
}

.assinaturas .btn-card-assinaturas {
   border: none;
   background-color: black;
   color: #F5A472;
   padding: 5px 10px;
   font-weight: bold;
   margin-top: 20px;
   cursor: pointer;
}


/* ----------------------- 
seção produtos
------------------------- */

.produtos {
   background-color: #fff;
}

.detalhe-produtos {
   color: #b2b2b2;
}

.box-produtos {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   grid-gap: 20px;
   align-items: stretch;
}

.card-produtos {
   width: 100%;
   max-width: 300px;
   background-color: #EDEDED;
   border-radius: 18px;
   box-shadow: 5px 5px #b2b2b2;
   text-align: center;
   padding: 20px 10px;
}

.img-card-produtos {
   max-width: 60%;
   margin-bottom: 15px;
}

.titulo-card-produtos {
   font-weight: 800;
}

.qtdd-card-produtos {
   font-size: 0.9rem;
   margin-bottom: 15px;
   color: #1d1d1b;
   opacity: .9;
}

.preco-card-produtos {
   color: #C14D13;
   font-size: 1.2rem;
   margin-bottom: 15px;
}

.btn-card-produtos {
   border: none;
   background-color: black;
   color: #fff;
   padding: 5px 10px;
   font-weight: bold;
   cursor: pointer;
   font-size: 1rem;
}

.btn-mais {
   border: none;
   background-color: transparent;
   color: #b2b2b2;
   padding: 5px 10px;
   font-weight: 500;
   cursor: pointer;
   font-size: 1rem;
   margin-top: 30px;
   margin-bottom: 40px;
}

/* ----------------------- 
seção newsletter
------------------------- */

.newsletter {
   background-color: #C14D13;
}

.newsletter p {
   font-size: 1.6rem;
   font-weight: 600;
   color: white;
   margin-bottom: 30px;
}

.newsletter p .detalhe-newsletter {
   color: black;
}

.btn-assinar-newsletter {
   border: none;
   background-color: black;
   color: #fff;
   padding: 5px 10px;
   font-weight: bold;
   cursor: pointer;
   font-size: 1rem;
   box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.178);
}

/* ----------------------- 
footer
------------------------- */

footer .links {
   background-color: #1d1d1b;
   color: #b2b2b2;
   padding: 40px;
   font-weight: 600;
}

.box-links {
   display: flex;
   justify-content: space-evenly;
}

.links a {
   color: #b2b2b2;
}

.links ul {
   margin-top: 15px;
   font-weight: 500;
   font-size: .9rem;
}

.links li {
   margin-bottom: 3px;
}

.redes {
   align-self: center;
}

.redes img {
   width: 50px;
}