.aaa {
  background: linear-gradient(#000000 , #ffffff00 50%), url("../../assets/destaque_1.jpg") no-repeat center; 
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 40px;
  scroll-behavior: smooth;
  transition: background .5s ease-in-out;
}