.form-register {
  background-color: #1d1d1b;
  color: azure;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  height: 100%;
  gap: 20px;
}

.register {
  height: 70%;
  width: 50%;
  padding: 15px 30px;
  border-radius: 10px;
  background-color: rgba(250, 235, 215, 0.295);
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

.send {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.btn-send {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #fff;
}

.btn-send:hover {
  background-color: #f5a472;
}

a:hover {
  color: #f5a472;
}

.label{
  margin-top: 8px;
}

.error {
  color: rgb(255, 113, 113);
  font-size: small;
}