.main .container {
  padding-top: 10rem;
} 

.main { 
  padding: 10rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: top;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.zipCode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.input-frete {
  display: flex;
  gap:1rem;
}

.line {
  width: 100%;
}

.infoAge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--golden-grass-180);
  border-top: 1px solid #dda520;
  padding: 2rem 0;
}

.imgProduct {
  width: 25em;
  cursor: pointer;
  padding: 3rem;
}


.inputInfo {
  padding: 10px;
  border-style: none;
  border-radius: 5px;
  border:solid 1px #f5a472;
}

.btnPortal {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #f5a472;
  border-style: none;
  padding: 10px 20px;
  cursor: pointer;
}

a:hover {
  color: #f5a472;
}

@media (max-width: 480px) {
  .main {
    flex-direction: column;
  }
  .imgProduct {
    padding: 1rem;
  }
  
}