.shoppingCart {
  background-color: var(--golden-grass-180);
  color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 10rem 0;
  width: max(90%,350px);
  margin: auto;
}

.shoppingCart h1 {
  font-size: 1.6rem;
}

.shoppingCart h2 {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
}

.infoProduct {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.infoProduct p {
  cursor: pointer;
}

.tableCart {
  margin: 40px 0;
  text-align: left;
}

.tableCart .imgProduct {
  width: 6rem;
  cursor: pointer;
}

.tableCart th {
  border-bottom: 1px solid #d8d8d8;
  padding: 10px;
  font-weight: 400;
}

.cartDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.product p {
  padding: 2rem;
}



.shipping {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 8rem;
}

.shippingDetails {
  display: flex;
  gap: 1rem;
}

.btnShipping {
  border-radius: 10px;
  color: #f5a472;
  border-style: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 700;
}

.inputInfo {
  padding: 10px;
  border-style: none;
  border-radius: 5px;
  border:solid 1px #f5a472;
  width: max(100%, 300px);
}
.shipping p {
  margin-bottom: 0.4rem;
}


a:hover {
  color: #f5a472;
}

.shippingTotal { 
  padding: 4rem 0px;
  margin-top: 40px;
  background-color: #F5F5F5;
}
.shippingTotal table {
  margin: auto;
  border-collapse: collapse;
}

.headerTotal {
  text-align: left;
  font-weight: 500;
}
.shippingTotal table th:not(.headerTotal){
  text-align: right;
  font-weight: 600;
}

.shippingTotal table th {
  width: 15%;
  line-height: 200%;
}

.tableTotal {
  border-top: 1px solid #d8d8d8;
  font-size: 1.1rem;
}

.tableTotal th {
  padding-top: 20px;
}

.btnPayments {
  border-radius: 10px;
  background-color: #f5a472;
  border-style: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 700;
  margin: 40px auto 0px auto;
  display: block;
  font-size: 1.1rem;
}

details summary {
  list-style-type: none;
  margin-top:15px;
}

input[type="radio"]{
  width: auto;
  box-shadow: none;
  height: auto;
}

.shipping ul {
  height: 25px;
  display: flex;
  align-items: center;
}

@media (max-width: 480px) {
  .shipping{
    margin: auto;
    gap: 2rem;
  }
    
}