.form-login {
  background-color: #2f2721;
  color: azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  height: 100vh;
  gap: 20px;
}

h2 {
  padding-bottom: 30px;
}

.login {
  height: 30%;
  width: 20%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(250, 235, 215, 0.295);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

a {
  text-decoration: none;
  color: tomato;
}

input.main {
  width: 100%;
  border-style: none;
  border-radius: 5px;
  padding: 10px 30px;
}
.btn {
  width: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-send {
  background-color: tomato;
}

.btn-send:hover {
  background-color: rgba(255, 99, 71, 0.678);
}

a:hover {
  color: rgba(255, 99, 71, 0.678);
}

span {
  font-size: small;
}
